.mainPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: red; */
}

.first{
    /* background-color: blue; */
    /* margin: auto; */
    /* background-color: aqua;  */
}
.second img{
    /* transform: translateX(100px); */
    position: fixed;
    height: 100%;
    transform: translate(30vw,100px);
}

@media  (max-width: 700px) {
    .second img{
        display: none;
    }
    .mainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .first{
        /* margin: auto; */
        /* width: 100%; */
        /* transform: translate(30%,30%); */
    }
}