.navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.Logo{
    /* background-color: red; */
    box-sizing: border-box;
    font-size: 6rem;
    width: 100%;
    text-align:center;
    padding-left: 20px;
}

.Navbutton{
    padding: 20px;
    border-radius: 10px;
    /* width: 50%; */
}

.navbar a{
    /* background-color: white; */
    width: 50%;
    /* background-color: blue; */
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.active{
    color:black;
    background-color: rgb(128, 128, 128);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.inactive{
    color:gray;
}


@media  (max-width: 800px) {
.navbar{
    /* background-color: red; */
}
}
