.navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.Logo{
    /* background-color: red; */
    box-sizing: border-box;
    font-size: 6rem;
    width: 100%;
    text-align:center;
    /* padding-left: 20px; */
    filter: drop-shadow(0 0 0.75rem blue);
}

.Navbutton{
    box-sizing: border-box;
    /* padding: 20px; */
    /* width: 40%; */
}

.navbar a{
    /* border: solid white;
    border-radius: 10px; */
    /* background-color: white; */
    width: 50%;
    border-width: 1px;
    /* background-color: blue; */
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.active{
    color:white;
    background-color: rgba(0, 0, 255, 0.283);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.inactive{
    color:rgb(128, 128, 128);
}


@media  (max-width: 800px) {
.navbar{
    /* background-color: red; */
}
}
